[user]
	name = ryo-imai-bit
	email = mayoimaimai9@gmail.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	template = /Users/ryo-imai/.stCommitMsg
[color]
	ui = true
[alias]
	graph = log --graph
[ghq]
	root = /Users/ryo-imai/go/src
	root = /Users/ryo-imai/ghq
[pull]
	rebase = false
